---
import Layout from "@layouts/Layout/Layout.astro";
import { type GetPokemonsResult } from "./get_pokemons_fetch";
import css from "./Page.module.css";
import Card from "@components/cards/Card/Card.astro";
import type { Page } from "astro";
import Paged from "@components/paginations/Paged.astro";

interface Props {
  page: Page<GetPokemonsResult>;
}

const { page } = Astro.props;
---

<Layout title="Inicio">
  <main class={css.page}>
    <div class={css.wrapper_pokemons}>
      {
        page.data.map((result) => (
          <Card
            title={result.name}
            img={result.sprites.other?.["official-artwork"].front_default!}
          />
        ))
      }
    </div>

    <Paged current_page={page.currentPage} prev={page.url.prev} next={page.url.next} />
  </main>
</Layout>
