---
import css from "./Card.module.css";

interface Props {
  title: string;
  img: string;
}

const { title, img } = Astro.props;
---

<article class={css.card}>
  <h6 class={css.title}>{title}</h6>
  <img src={img} alt={title} />
</article>
