---
import "@styles/index.css";
import { ClientRouter } from "astro:transitions";
import { SEO } from "./seo";

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  img?: string;
}

const {
  title,
  description = SEO.description,
  keywords = SEO.keywords,
  img = SEO.img,
} = Astro.props;

const keywords_parsed = keywords.join(",");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />

    <!-- SEO Básico -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords_parsed} />
    <meta name="author" content={SEO.author} />

    <!-- Open Graph (Para compartir en redes sociales como Facebook) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={SEO.img} />
    <meta property="og:url" content={SEO.base_url} />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards (Para compartir en Twitter/X) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={img} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: var(--bg-main);
    color: var(--paras);
  }
</style>
