---
import { Icon } from "astro-icon/components";
import css from "./Pokemon.module.css";
import Layout from "@layouts/Layout/Layout.astro";

interface Props {
  pokemon_name: string;
  audio: string;
  img: string;
}

const { pokemon_name, audio, img } = Astro.props;
---

<Layout
  title={pokemon_name}
  description={`Mostrando información sobre el pokemon ${pokemon_name}`}
  img={img}
  keywords={[pokemon_name]}
>
  <main class={css.pokemon}>
    <div class={css.wrapper_1}>
      <h1 class={css.name}>{pokemon_name}</h1>
      <button id="wrapper_hearts" class={css.wrapper_hearts} data-pokemon_name={pokemon_name}>
        <Icon
          id={"heart_empty"}
          class:list={[css.heart_empty]}
          name={"heart_empty"}
          size={50}
          data-pokemon_name={pokemon_name}
        />
        <Icon
          id={"heart_full"}
          class:list={[css.heart_full, "no_visible"]}
          name={"heart_full"}
          size={50}
          data-pokemon_name={pokemon_name}
        />
      </button>
    </div>
    <picture>
      <img transition:name={`pokemon_${pokemon_name}`} src={img} alt={pokemon_name} />
    </picture>
    <audio controls>
      <source src={audio} type="audio/ogg" />
      Tu navegador no soporta el elemento de audio.
    </audio>
  </main>
</Layout>

<script>
  import { Dom } from "@utils/Dom/Dom";

  document.addEventListener("astro:page-load", () => {
    const wrapper_hearts = Dom.select("wrapper_hearts");
    const heart_empty = Dom.select("heart_empty");
    const heart_full = Dom.select("heart_full");

    wrapper_hearts?.addEventListener("click", () => {
      heart_empty?.classList.toggle("no_visible");
      heart_full?.classList.toggle("no_visible");

      const pokemon_name = wrapper_hearts.dataset.pokemon_name;
      console.log(pokemon_name);
    });
  });
</script>
