---
import Layout from "@layouts/Layout/Layout.astro";

interface Props {
  pokemon_name: string;
  audio: string;
  img: string;
}

const { pokemon_name, audio, img } = Astro.props;
---

<Layout title={pokemon_name}>
  <main>
    <h1>{pokemon_name}</h1>
    <picture>
      <img transition:name={`pokemon_${pokemon_name}`} src={img} alt={pokemon_name} />
    </picture>
    <audio controls>
      <source src={audio} type="audio/ogg" />
      Tu navegador no soporta el elemento de audio.
    </audio>
  </main>
</Layout>
