---
import css from "./Pokemons.module.css";
import Layout from "@layouts/Layout/Layout.astro";
import { type GetPokemonsResult } from "./get_pokemons_fetch";
import type { Page } from "astro";
import PokemonsCard from "./PokemonsCard/PokemonsCard.astro";
import Paged from "@components/paginations/Paged/Paged.astro";
import { ROUTER } from "src/pages/router";

interface Props {
  page: Page<GetPokemonsResult>;
}

const { page } = Astro.props;
---

<Layout title={ROUTER.pokemons.display}>
  <main class={css.pokemons}>
    <div class={css.wrapper_pokemons}>
      {page.data.map((result) => <PokemonsCard pokemon={result} />)}
    </div>

    <Paged current_page={page.currentPage} prev={page.url.prev} next={page.url.next} />
  </main>
</Layout>
